body {
    background-color: black;
    color: rgb(182, 183, 189);
}

#description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 25%;
}

h1 {
    margin-left: 25%;
}

button {
        width:100px;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(46,46,133);
        padding: 10px;
        margin: 20px;
        text-decoration: none;
        font-size: 25px;
    }
